.paragraph_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
body img {
	border: 1px solid #000;
	margin: 0px 10px;
	display: block;
}

.list_heading {
	font-weight: bold;
	color: #060;
}
.list_term {
	font-weight: bold;
}
#MenuBar  {
	margin-left: 11px;
	width: 950px;
	display: block;
}
.reverse_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	background-color: #666633;
}
.item_numbers {
	font-size: 12px;
	font-weight: bold;
}
